* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #495057;
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;
    margin: 0;
}

/* MAIN */
main {
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #12b886;
}

.edit-button,
.delete-button {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ff132e;
}

.edit-button:hover,
.delete-button:hover {
    color: #999;
}

.edit-button:focus,
.delete-button:focus {
    outline: none;
    box-shadow: none;
}

.main-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-product-button,
.add-voucher-button {
    padding: 10px 20px;
    background-color: #12b886;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.add-product-button:hover,
.add-voucher-button:hover {
    background-color: #0069d9;
}
.img {
    height: 10rem;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 10px;
}

.filter h2 {
    margin-top: 0;
    margin-right: 20px;
}

.filter-item {
    margin-bottom: 10px;
    margin-right: 20px;
}

.filter-item label {
    font-weight: bold;
}

.filter-item select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.filter-button {
    display: block;
    width: 150px;
    padding: 10px;
    background-color: #12b886;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #0a7d5d;
}
/* edit product */
.container {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="button"] {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #12b886;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0069d9;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.save-button,
.delete-button {
    padding: 8px 16px;
    font-size: 14px;
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.2);
}
/* add product */
.container {
    display: flex;
    justify-content: space-between;
}

.left-sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
}

.left-sidebar h2 {
    margin-bottom: 10px;
}

.left-sidebar .logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.left-sidebar input[type="file"] {
    margin-bottom: 20px;
}

.content {
    width: 70%;
    padding: 20px;
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="button-add"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #12b886;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button-add"]:hover {
    background-color: #0069d9;
}


